<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import css -->
    <link rel="stylesheet" href="/static/css/catsitter_mode.css">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- import js -->
    <script src="/static/js/catsitter_mode.js" async></script>
</head>
<body>
    <!-- top start -->
    <div class="top">
        <div class="top-menuWrapper">
            <img class="top-menu_icon" 
                src="/static/image/menu_icon.png"
                onclick="open_menu();"
                >

            {% if notifications_count > 0 %}
            <div class="menu-notification_count">
                <div class="menu-notification_countText">
                    {{notifications_count}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- top end -->

    <!-- menu start -->
    <div class="menu">
        <div class="menu-notificationWrapper">
            <a href="/notification/">
                <img src="/static/image/notification_icon.png" class="menu-notification_image">
                {% if notifications_count > 0 %}
                <div class="menu-notification_count">
                    <div class="menu-notification_countText">
                        {{notifications_count}}
                    </div>
                </div>
                {% endif %}
            </a>
        </div>

        <div class="menu-profileWrapper">
            {% if not user.is_authenticated %}
                <img src="/static/image/unknown_icon.png" class="menu-profile_image">
                <br>
                <font></font>
            {% else %}
                <!-- <img src="user.profile_image.url" class="menu-profile_image"> -->
                <img src="/static/image/unknown_icon.png" class="menu-profile_image">
                <br>
                <font>{{user.username}}</font>
            {% endif %}
        </div>

        <div class="menu-listWrapper">
            <div class="menu-list-itemWrapper">
                <div class="menu-list-item-myWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            MY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/login/">
                                Login
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/join/">
                                Join
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/mypage/">
                                Mypage
                            </a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-categoryWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CATEGORY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/main/">
                                Home
                            </a>
                        </div>
                    </div>

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/aboutus/">
                                About us
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_search/">
                                Catsitter search
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_mode/">
                                Catsitter mode
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catee_mode/">
                                Catee mode
                            </a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-contactWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CONTACT
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            wnstlr24@gmail.com
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="menu-aboutWrapper">

        </div>

        <div class="menu-closeWrapper">
            <img class="menu-close_icon" 
                src="/static/image/close_icon.png"
                onclick="close_menu();"
                >
        </div>
    </div>
    <!-- menu end -->

    <!-- content start -->
    <div class="content">
        <div class="content-myinfoWrapper">
            <div class="content-myinfo-profileWrapper">
                <div class="content-myinfo-profile-imageWrapper">
                    <img class="content-myinfo-profile_image" src="/static/image/unknown_icon.png">
                </div>
                <div class="content-myinfo-profile-idWrapper">
                    <div class="content-myinfo-profile_text">
                        junsik<br>
                        <button>정보수정</button>
                    </div>
                </div>
            </div>
            <div class="content-myinfo-catsitterWrapper">
                <div class="content-myinfo-catsitter-countWrapper">
                    <div class="content-myinfo-catsitter-formCountWrapper">
                        <div class="content-myinfo-catsitter-iconWrapper">
                            <img class="content-myinfo-catsitter-icon" src="/static/image/form_icon.png">
                        </div>
                        <div class="content-myinfo-catsitter-countTextWrapper">
                            <div class="content-myinfo-catsitter-count_text">
                                -건
                            </div>
                        </div>
                    </div>
                    <div class="content-myinfo-catsitter-reviewCountWrapper">
                        <div class="content-myinfo-catsitter-iconWrapper">
                            <img class="content-myinfo-catsitter-icon" src="/static/image/review_icon.png">
                        </div>
                        <div class="content-myinfo-catsitter-countTextWrapper">
                            <div class="content-myinfo-catsitter-count_text">
                                -건
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-myinfo-catsitter-activateWrapper">
                    <div class="content-myinfo-catsitter-activate-textWrapper">
                        <div class="content-myinfo-catsitter-activate_text">
                            캣시터 on/off
                        </div>
                    </div>
                    <div class="content-myinfo-catsitter-activate-switchWrapper">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-listWrapper">
            <div class="content-list-selectWrapper">
                <div class="content-list-select-item" id="select-form" onclick="select_form()">
                    <div class="content-list-select-item_text">
                        신청서
                    </div>
                </div>
                <div class="content-list-select-item" id="select-review" onclick="select_review()">
                    <div class="content-list-select-item_text">
                        리뷰
                    </div>
                </div>
            </div>

            <div class="content-list" id="form-list">
                <div class="content-list-item">
                    신청서1
                </div>
                <div class="content-list-item">
                    신청서2
                </div>
            </div>

            <div class="content-list" id="review-list">
                <div class="content-list-item">
                    리뷰1
                </div>
                <div class="content-list-item">
                    리뷰2
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
</body>
</html>