<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import css -->
    <link rel="stylesheet" href="/static/css/register_cat.css">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <!-- top start -->
    <div class="top">
        <div class="top-menuWrapper">
            <img class="top-menu_icon" 
                src="/static/image/menu_icon.png"
                onclick="open_menu();"
                >

            {% if notifications_count > 0 %}
            <div class="menu-notification_count">
                <div class="menu-notification_countText">
                    {{notifications_count}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- top end -->

    <!-- menu start -->
    <div class="menu">
        <div class="menu-notificationWrapper">
            <a href="/notification/">
                <img src="/static/image/notification_icon.png" class="menu-notification_image">
                {% if notifications_count > 0 %}
                <div class="menu-notification_count">
                    <div class="menu-notification_countText">
                        {{notifications_count}}
                    </div>
                </div>
                {% endif %}
            </a>
        </div>

        <div class="menu-profileWrapper">
            {% if not user.is_authenticated %}
                <img src="/static/image/unknown_icon.png" class="menu-profile_image">
                <br>
                <font></font>
            {% else %}
                <!-- <img src="user.profile_image.url" class="menu-profile_image"> -->
                <img src="/static/image/unknown_icon.png" class="menu-profile_image">
                <br>
                <font>{{user.username}}</font>
            {% endif %}
        </div>

        <div class="menu-listWrapper">
            <div class="menu-list-itemWrapper">
                <div class="menu-list-item-myWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            MY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            {% if not user.is_authenticated %}
                                <a href="/login/">
                                    Login
                                </a>
                            {% else %}
                                <a href="/logout/">
                                    Logout
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/join/">
                                Join
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/mypage/">
                                Mypage
                            </a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-categoryWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CATEGORY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/main/">
                                Home
                            </a>
                        </div>
                    </div>

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/aboutus/">
                                About us
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/search_catsitter/">
                                Catsitter search
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_mode/">
                                Catsitter mode
                            </a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catee_mode/">
                                Catee mode
                            </a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-contactWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CONTACT
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            wnstlr24@gmail.com
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="menu-aboutWrapper">

        </div>

        <div class="menu-closeWrapper">
            <img class="menu-close_icon" 
                src="/static/image/close_icon.png"
                onclick="close_menu();"
                >
        </div>
    </div>
    <!-- menu end -->

    <!-- content start -->
    <div class="content">
        <form class="content-formWrapper" 
                action="./" 
                method="POST" 
                enctype="multipart/form-data" 
                data-total-index='1' 
                data-current-index='1'
                onsubmit="return check_submit();"
                >
            {% csrf_token %}
            <div class="content-form-itemListWrapper">
                {% for i in i|rjust:5 %}
                    <div class="content-form-itemWrapper">
                        <div class="content-form-item-inputImageWrapper">
                            <label for="content-form-item-imageInput_{{forloop.counter}}">
                                <img 
                                    src="/static/image/input_image_icon.png" 
                                    class="content-form-item-imageInput_icon"
                                    id="cat_profile_{{forloop.counter}}"
                                    />
                            </label>
                            <input class="content-form-item-imageInput" id="content-form-item-imageInput_{{forloop.counter}}" name="cat_profile_image_{{forloop.counter}}" type="file" data-image-src=''/>
                        </div>
                        <div class="content-form-item-inputWrapper">
                            <input type="text" name="cat_name" class="content-form-item_input" id="cat_name_{{forloop.counter}}" placeholder="이름">
                        </div>
                        <div class="content-form-item-inputWrapper">
                            <input type="text" name="cat_age" class="content-form-item_input" id="cat_age_{{forloop.counter}}" placeholder="나이">
                        </div>
                        <div class="content-form-item-inputWrapper">
                            <div class="content-form-item-radioWrapper">
                                <input class="content-form-item_radioInput" type="radio" name="cat_gender_{{forloop.counter}}" value="men" checked>남
                                <input class="content-form-item_radioInput" type="radio" name="cat_gender_{{forloop.counter}}" value="women" >여
                            </div>
                        </div>
                        <div class="content-form-item-inputWrapper">
                            <div class="content-form-item-domainWrapper">
                                <div class="content-form-item-domain_text">
                                    중성화
                                </div>
                            </div>
                            <div class="content-form-item-radioWrapper">
                                <input class="content-form-item_radioInput" type="radio" name="cat_neutralization_{{forloop.counter}}" value="true">유
                                <input class="content-form-item_radioInput" type="radio" name="cat_neutralization_{{forloop.counter}}" value="false" checked>무
                            </div>    
                        </div>
                        <div class="content-form-item-textareaWrapper">
                            <textarea class="content-form-item_textarea" id="cat_feature_{{forloop.counter}}" cols="50" rows="30" name="cat_feature" placeholder="성격 및 특징"></textarea>
                        </div>
                        <div class="content-form-item-textareaWrapper">
                            <textarea class="content-form-item_textarea" id="cat_warning_{{forloop.counter}}" cols="50" rows="30" name="cat_warning" placeholder="주의사항"></textarea>
                        </div>
                    </div>
                {% endfor %}

                <!-- <div class="content-form-itemWrapper">
                    
                </div>
                <div class="content-form-itemWrapper">
                    
                </div>
                <div class="content-form-itemWrapper">
                    
                </div>
                <div class="content-form-itemWrapper">
                    
                </div> -->

                <button type="button" id="prev_button" onclick="prev()">이전</button>
                <button type="button" id="next_button" onclick="next()">다음</button>
            </div>

            <div class="cotent-form-buttonWrapper">
                <button type="button" id="add_button" onclick="add()">추가하기</button>
                <button class="content-form_button" type="submit">등록하기</button>
            </div>
        </form>
    </div>
    <!-- content end -->

    <!-- import js -->
    <script src="/static/js/register_cat.js" async></script>
</body>
</html>